[Unit]
Description=Downloads and sets a wallpaper
PartOf=graphical-session.target

[Service]
Environment="DISPLAY=:0"
ExecStart=/home/awang/.local/bin/bingwallpaper.sh

[Install]
WantedBy=default.target
