concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
jobs:
  build-aarch64-darwin:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            accept-flake-config = true
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          authToken: ${{ secrets.CACHIX_TOKEN }}
          extraPullNames: nix-community
          name: aleadag-nix-configs
      - name: nix-info -m
        run: |
          nix run '.#nix-info' -- -m
      - name: 'Build Home-Manager configs for: home-mac'
        run: nix build --print-build-logs '.#homeConfigurations.home-mac.activationPackage'
      - name: 'Build nix-darwin configs for: t0'
        run: nix build --print-build-logs '.#darwinConfigurations.t0.system'
  build-aarch64-linux:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            accept-flake-config = true
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          authToken: ${{ secrets.CACHIX_TOKEN }}
          extraPullNames: nix-community
          name: aleadag-nix-configs
      - name: nix-info -m
        run: |
          nix run '.#nix-info' -- -m
      - uses: thiagokokada/free-disk-space@main
        with:
          opt: true
          tool-cache: true
          usrlocal: true
          usrmisc: true
      - name: 'Build Home-Manager configs for: lckfb'
        run: nix build --print-build-logs '.#homeConfigurations.lckfb.activationPackage'
      - name: 'Build NixOS configs for: jetson-nixos'
        run: nix build --print-build-logs '.#nixosConfigurations.jetson-nixos.config.system.build.toplevel'
  build-x86_64-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            accept-flake-config = true
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          authToken: ${{ secrets.CACHIX_TOKEN }}
          extraPullNames: nix-community
          name: aleadag-nix-configs
      - name: nix-info -m
        run: |
          nix run '.#nix-info' -- -m
      - uses: thiagokokada/free-disk-space@main
        with:
          opt: true
          tool-cache: true
          usrlocal: true
          usrmisc: true
      - name: 'Build Home-Manager configs for: mbx'
        run: nix build --print-build-logs '.#homeConfigurations.mbx.activationPackage'
      - name: 'Build NixOS configs for: pvg1-nixos'
        run: nix build --print-build-logs '.#nixosConfigurations.pvg1-nixos.config.system.build.toplevel'
name: build-and-cache
"on":
  - push
  - workflow_dispatch
